.section {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.section-name {
  align-self: center;
}

.sub-sections {
  background-color: azure;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
