.section {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.section-header {
  align-self: center;
}

.sub-sections {
  display: flex;
  flex-direction: column;
}

.sub-section {
  margin: 15px 0;
  align-self: center;
}
